p{
    color:beige;
    font-size: 1.1em;
    font-family:'Manrope', sans-serif;
}
ol {
    font-size: 1em;
    font-family: 'Manrope', sans-serif;
}
a {
    color:#f0c300;
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
}
a:hover {
    color:#00b8f0;
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
    font-size: 1.5em;

}
h1 {
 color:#b82010 ;
 font-size: 3.5em;
 font-family:'Montserrat', sans-serif;
}
body
{
    background: linear-gradient(90deg, #303030, #61154d);
}
section {
    margin: 0;
    padding: 0;
    display: block;

}
.First {
    background-color: #b82010;
    text-align: justify;
    margin: 0;

}
.Second {
    background-color: #00f08c;
    text-align: justify;
    margin: 0;


}
.aside
{
    background-color: #00b8f0;
    max-width: 20%;
    margin: 0;
    text-align: justify;
}